In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, Date, ForeignKey, JSON
from sqlalchemy.orm import sessionmaker
from sqlalchemy.dialects import postgresql

In [2]:
STATE_ID_LIST = [
  51, 22, 42, 40, 19, 54, 29, 4, 10, 35, 6, 50, 13, 2, 38, 47, 18, 27, 44, 11,
  9, 30, 21, 56, 34, 39, 41, 46, 53, 32, 12, 33, 23, 15, 48, 5, 31, 20, 1, 8,
  26, 72, 17, 37, 28, 45, 36, 16, 24, 25, 49, 55,
]

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv")

In [4]:
df.index.name = "id"
df = df.rename({'state': 'state_name', 'fips': 'state_id'}, axis='columns')
df.head()

          date  state_name  state_id  cases  deaths
id
0   2020-01-21  Washington        53      1       0
1   2020-01-22  Washington        53      1       0
2   2020-01-23  Washington        53      1       0
3   2020-01-24    Illinois        17      1       0
4   2020-01-24  Washington        53      1       0

In [5]:
DB_URI = "postgresql://postgres:christos@localhost/covid_db"
Base = declarative_base()
engine = create_engine(DB_URI)

In [6]:
Session = sessionmaker(bind=engine)
session = Session()

In [7]:
class State_case(Base):
    __tablename__ = "state_cases_table"
    
    id = Column(Integer, primary_key=True)
    date = Column(Date)
    state_name = Column(String)
    state_id = Column(Integer, ForeignKey('state_table.id'))
    cases = Column(Integer)
    deaths = Column(Integer)

    
    def __repr__(self):
        return "<State_case(caseID='%s')>" % self.caseID

In [8]:
class State(Base):
    __tablename__ = "state_table"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    geotype = Column(String)
    coordinates = Column(JSON)

    
    def __repr__(self):
        return "<State(name='%s')>" % self.name

In [9]:
Base.metadata.create_all(engine)

In [10]:
session.commit()

In [11]:
df = df[df['state_id'].isin(STATE_ID_LIST)]

In [13]:
df.to_sql("state_cases_table", engine, if_exists="append")

In [ ]:
end = 37745

In [ ]:
df.loc[end:]

In [ ]:
session.query(State).first()