In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, Date, ForeignKey, JSON
from sqlalchemy.orm import sessionmaker
from sqlalchemy.dialects import postgresql

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv")

In [3]:
df.index.name = "id"
df = df.rename({'state': 'state_name', 'fips': 'stateID'}, axis='columns')
df.head()

          date  state_name  stateID  cases  deaths
id
0   2020-01-21  Washington       53      1       0
1   2020-01-22  Washington       53      1       0
2   2020-01-23  Washington       53      1       0
3   2020-01-24    Illinois       17      1       0
4   2020-01-24  Washington       53      1       0

In [4]:
DB_URI = "postgresql://postgres:christos@localhost/covid_db"
Base = declarative_base()
engine = create_engine(DB_URI)

In [5]:
class State_case(Base):
    __tablename__ = "state_cases_table"
    
    id = Column(Integer, primary_key=True)
    date = Column(Date)
    state_name = Column(String)
    stateID = Column(Integer)
    cases = Column(Integer)
    deaths = Column(Integer)

    
    def __repr__(self):
        return "<State_case(caseID='%s')>" % self.caseID

In [6]:
Base.metadata.create_all(engine)

In [7]:
Session = sessionmaker(bind=engine)
session = Session()

In [8]:
session.commit()

In [9]:
df.to_sql("state_cases_table", engine, if_exists="append")

In [ ]:
end = 37745

In [ ]:
df.loc[end:]

In [ ]:
session.query(State).first()

In [ ]:
class State(Base):
    __tablename__ = "state_table"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    geotype = Column(String)
    coordinates = Column(JSON)

    
    def __repr__(self):
        return "<State(name='%s')>" % self.name